@import "https://cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css"
@font-face
  font-family: 'Keyrune'
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot')
  src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff2') format('woff2'), url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff') format('woff'), url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.ttf') format('truetype'), url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.svg') format('svg')
  font-weight: normal
  font-style: normal
/* Magic Title */
@font-face
  font-family: "Magic"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/Goudy Medieval Alternate Light.ttf")

/* magic text */
@font-face
  font-family: "Plantin"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/plantinmtprolight-webfont.woff2") format("woff2"), url("./assets/fonts/plantinmtprolight-webfont.woff") format("woff")
/* magic text italic */
@font-face
  font-family: "Plantin"
  font-style: italic
  font-weight: 100
  src: url("./assets/fonts/plantinmtprolightit-webfont.woff2") format("woff2"), url("./assets/fonts/plantinmtprolightit-webfont.woff") format('woff')

/* magic symbols */
@font-face
  font-family: "MagicSymbols"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/MagicSymbols2012 Z.ttf")

/* some updated symbols */
@font-face
  font-family: "Mana"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/mana.ttf")

/* for twobrid */
@font-face
  font-family: "TwobridMana"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/NDPMTG.ttf")

/* magic symbols 04 */
@font-face
  font-family: "MagicSymbols Old"
  font-style: normal
  font-weight: 100
  src: url("./assets/fonts/magis2004.ttf")
*
  font-family: 'Plantin'

textarea,
h2
  font-family: 'Magic'
  letter-spacing: 0.05em

form
  display: flex

textarea
  font-family: 'Magic'
  flex-grow: 1
  height: auto
  max-height: 50vh
  font-size: 18px

.headerContainer
  display: flex
  h3
    flex: 1
  form
    margin: .5rem 0
    flex-wrap: wrap
    justify-content: flex-end
    > *
      margin: .5rem 0 .5rem 1.5rem
      white-space: nowrap

.cards
  display: flex
  flex-wrap: wrap


footer
  *
    font-size: .95em
  .wrapper
    max-width: 1080px
    width: 80%
    margin: 0 auto
  .float-right
    float: right

  .float-left
    float: left


body
  margin: 0
  padding: 0
h1, h2, h3
  font-weight: 400
  letter-spacing: 2px
h1
  text-align: center
input, select, button
  font-size: 1.1rem

.home
  margin: 0 1rem


.loading
  display: block !important
  &:after
    display: inline-block
    animation: dotty steps(1,end) 1s infinite
    content: 'efsdg'
.error
  color: #c22

@keyframes dotty
  0%  
    content: ''
  25% 
    content: '.'
  50% 
    content: '..'
  75% 
    content: '...'
  100%
    content: ''

.magicSymbol
  font-family: "MagicSymbols"

.manaWhite
  color: #FAF6D8
.manaWhitePhy
  color: #E9E3B1
.manaBlue
  color: #C1D7E9
.manaBluePhy
  color: #8EBBD1
.manaBlack
  color: #BAB1AB
.manaBlackPhy
  color: #9B8E8A
.manaRed
  color: #E49977
.manaRedPhy
  color: #DE8166
.manaGreen
  color: #A3C095
.manaGreenPhy
  color: #80B092
.manaGeneric
  color: #CAC5C0
.manaSnow
  color: #fff
.manaEnergy
  font-family: 'Mana' !important
.manaColorless
  font-family: 'Mana' !important
  font-size: .78em
  padding-left: .05em
.cardBorder
  display: flex
  align-items: center
  justify-content: center
  position: relative
  width: 740px
  height: 1034px
  overflow: hidden
  margin: 0
  background-color: #111
  zoom: 0.5

.cardBorder.rounded
  border-radius: 20px
  box-shadow: 2px 2px 0 #444, -1px -1px 0 #444, 2px -1px 0 #444, -1px 2px 0 #444, 8px 8px 5px #0006
  margin: 15px

.cardBorder.noborder
  border-radius: 0
  box-shadow: none
  height: 958px
  width: 672px
  margin: 0

.cardBorder.mpc
  width: 812px
  height: 1106px

.cardBorder
  border: 2px solid #80808000
.cardBorder:not(.rounded)
  border: 2px dashed #80808040

.cardBorder.high-res
  zoom: 1

.cardBorder:after
  content: ""
  background: transparent
  top: 0
  bottom: 0
  left: 0
  right: 0
  position: absolute
  z-index: 0

.originalCard
  position: absolute
  top: -3px
  left: -2px
  width: 746px
  z-index: 0

.card
  position: relative
  z-index: 9
  display: inline-block
  background-color: #111
  width: 672px
  height: 962px

.card.originalPresent
  opacity: 0.75

.cardTemplate, .cardTemplate2, .cardTemplate3
  width: 42rem
.cardTemplate2, .cardTemplate3
  position: absolute
  left: 0
  top: 0
.cardTemplateLegendary1, .cardTemplateLegendary2
  position: absolute
  left: 50%
  top: -23px
  margin-left: -51.5%
  width: 103%
  height: 98px
.cardTemplate2, .cardTemplateLegendary2
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)
  mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)


.cardTitle, .cardType, .cardArtist, .cardPowerToughness, .levelPT
  text-shadow: 2px 2px 2px #000

.cardManaCost, .manaSymbolGroup
  *
    text-shadow: none
    font-family: "MagicSymbols"
    font-style: normal
.manaSymbolGroup
  .symbol.hybridCost
    font-size: 0.8em
    padding: 0 0.05em
    position: relative
    top: -0.05em
  .symbol.twobridCost
    font-family: "TwobridMana"
  .symbol.pawCost
    font-family: 'MagicSymbols Old'
    width: 2rem
    display: inline-block
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdC b3g9IjAgMCA4NiAxMDAiPjxnIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9u emVybyI+PHBhdGggZD0iTTM4LjAyMy4zNDJjLTIuNTY0LjkzNS00LjI1NCAx Ljc4LTYuMzM2IDMuMTY4YTM5LjA1NiAzOS4wNTYgMCAwIDAtMi42MTQgMS44 OGMtMS40NjkgMS4xNzctNC45NDggNC42NjctNS45MDQgNS45MjQtMi43ODUg My42OC00LjM5NSA3LjI2LTQuOTQ4IDExLjAxMi0uNTgzIDMuOTgyLS4wOCA3 LjQ0MiAxLjYxIDEwLjk1Mi43NDQgMS41NTggMS40OTggMi42NjUgMi42MDQg My44MjEgMS40ODkgMS41NDkgMy4wNDcgMi41NDUgNC45NzggMy4xODguNzk1 LjI3Mi45NjYuMjkyIDIuNDY0LjI5MiAxLjggMCAyLjc3Ni0uMTYxIDQuMDkz LS42NjQgMy44NzItMS40OTggNi4xODUtNS43MTIgNS45ODQtMTAuOTAxLS4x MS0yLjY2NS0uNTkzLTQuNDY2LTIuNjA1LTkuNTk0LTEuNzEtNC4zODUtMi4w NTEtNS44OTQtMS45Ni04LjkxLjA1LTIuMjEzLjMxLTMuNSAxLjEzNi01Ljg1 NC43NjQtMi4xNDIgMS4wNjYtMi42OTUgMi4zNTMtNC4zODQuMTItLjE1MS4x OC0uMjcyLjEzLS4yNzItLjA0LjAxLS40ODIuMTYtLjk4NS4zNDJaTTQ2Ljk4 NC4xMmMuMDUuMDcxLjI5MS40MDMuNTQzLjczNWExMC4wMTMgMTAuMDEzIDAg MCAxIDEuMzY3IDIuMjgzYy41MDMgMS4yMDYgMS4xNTcgMy4yNTggMS40MTgg NC41MDUuMjQyIDEuMTE2LjI3MiAxLjQ3OC4yNzIgMy4zMTkuMDEgMS42MDkt LjAzIDIuMjUzLS4xNzEgMi45NTYtLjI3MiAxLjMwOC0uNzk1IDIuOTg3LTEu NTM5IDQuODc4LTIuNDY0IDYuMjM1LTIuOTM2IDguMTM2LTIuODI2IDExLjM3 NC4wOCAyLjIxMy4zOTMgMy41NiAxLjIzNyA1LjI4IDEuNjkgMy40NyA1LjAy OSA1LjMzIDkuMjQyIDUuMTU5IDEuMzQ4LS4wNiAyLjM1NC0uMzIyIDMuNjIt Ljk2NSAyLjUxNS0xLjI1OCA0Ljc0OC0zLjYzIDYuMDQ1LTYuNDA3IDEuMzc4 LTIuOTU2IDEuOTUtNS45ODMgMS43NC05LjE1MS0uMjAxLTIuOTc3LS44NzUt NS40My0yLjI0My04LjE5Ni0xLjM5OC0yLjgwNi0yLjk4Ny00Ljk1OC01LjU4 MS03LjU0My00LjA5My00LjA5My03LjQ1Mi02LjMwNi0xMi4xNTktOC4wMDUt MS4wNTYtLjM4Mi0xLjA2Ni0uMzkyLS45NjUtLjIyMVpNOS43ODQgMjEuODkz QzQuMDkyIDI3LjU1NSAxLjcwOCAzMi4wMTEuNDIgMzkuNDIzYy0uNDIyIDIu NDEzLS41NTMgNi41NDYtLjI3MiA4LjU0OC41MTMgMy43IDEuNyA2Ljk3OSAz LjQ3IDkuNTUzLjY5NCAxLjAxNiAyLjQ3NCAyLjg0NiAzLjQ2IDMuNTUgMS4z NjcuOTg2IDMuMjE4IDEuOCA0Ljc2NiAyLjA5MiAxLjAwNi4xOTEgMi44MDYu MTQxIDMuNzUyLS4xIDEuMDc2LS4yODIgMi40NjMtLjk3NiAzLjI4OC0xLjY2 LjYwNC0uNTAzIDEuODQtMS45OCAyLjY4NS0zLjIwOC41MDMtLjc0NCAxLjE3 Ny0yLjIzMiAxLjQyOC0zLjE4OC4zMzItMS4yMjcuMzEyLTIuOTg3LS4wNC00 LjM0NC0uODY1LTMuMjc5LTIuNTE0LTUuOTc0LTYuNzk4LTExLjEyMy0zLjEw OC0zLjcyMS00LjAxMy01LjA4OS00LjkyOC03LjM4Mi0uNTczLTEuNDU4LS44 NTUtMy40MzktLjcxNC01LjAwOC4wOS0xLjAxNi41NzMtMy4zMTkgMS4wNjYt NS4xMDkuNDMyLTEuNTc5LjUyMy0yLjEzMi4zMzItMi4xMzItLjA3IDAtMS4w MjYuODk1LTIuMTMyIDEuOTgxWk03My45NTYgMjAuMDMzYy0uMDUuMTQuMDIu NDYzLjYwMyAyLjY5NS4yMzEuODU1LjUyMyAyLjE2Mi42NjQgMi44OTcuNTQz IDIuODE1LjIzMSA1LjIxOS0uOTk2IDcuNjgzLTEuMDA1IDIuMDQxLTEuNjM5 IDIuOTE2LTQuNDA1IDYuMjM1LTEuOTIgMi4yOTMtMy4wMzcgMy43NDEtMy44 MjEgNC45MDgtMi42NDUgMy45OTItMy42NyA3LjI1LTMuMTQ4IDkuOTc2LjI4 MiAxLjQxOCAxLjAxNiAzLjA5NyAxLjg1IDQuMTg0LjIwMi4yNjEuNjI0Ljgx NC45MzYgMS4yMjYgMS40ODggMS45NzIgMy41MSAzLjE0OCA1LjkwMyAzLjQy IDIuMjczLjI1MSA0Ljc5Ny0uNDYzIDcuMTYtMi4wNDIgMS4wNzctLjcxNCAy LjkyNy0yLjYxNCAzLjc0Mi0zLjg0MSAzLjQ1LTUuMTkgNC40MTQtMTEuOTQ4 IDIuNzg1LTE5LjYxMS0uNjUzLTMuMDg3LTEuMTg2LTQuNjY2LTIuMzAzLTYu OTQtMS41MTgtMy4wNzctMy4zNzktNS41Ny02LjU4Ny04Ljc3OS0xLjE2Ni0x LjE2Ni0yLjE4Mi0yLjEzMi0yLjI0Mi0yLjEzMi0uMDUgMC0uMTIxLjA1LS4x NDEuMTIxWk00MS4xNCA0OS43NGMtNS4zNi42MjQtOS43OTUgMy4xMzgtMTMu Mzg1IDcuNTgzLTIuMjIyIDIuNzU2LTQuODU3IDcuMzkyLTYuNzY4IDExLjkw Ny0uNTMzIDEuMjU4LS43NDQgMS42Mi0xLjI4NyAyLjI2My0xLjU2IDEuODUt My4zNiA0Ljk2OC00LjMwNSA3LjQ0Mi0uNDQyIDEuMTY3LS44OTUgMi44NDYt MS4xMjYgNC4xODQtLjI1MSAxLjQ0OC0uMjUxIDUuMzYgMCA2LjYzNy41MzMg Mi42ODUgMS41NjkgNC43NDcgMy4wNzcgNi4wOTUgMS4xMTcgMS4wMDUgMy41 IDIuMzAzIDUuMiAyLjgzNiAxLjU4OS41MDIgMi4zODMuNjEzIDQuMjY0LjYy MyAyLjYwNCAwIDMuNjMtLjI1MSA4LjU0OC0yLjA5MiA0LjU0Ni0xLjcxIDUu MjUtMS44OCA3LjYyMy0xLjg4IDIuNDg0IDAgMi44NTYuMDkgNy45NjUgMi4w MDEgNC42NzYgMS43NCA2LjI3NSAyLjEwMiA4Ljc5IDEuOTkxIDIuMTQyLS4x IDMuNy0uNTAzIDUuNzEyLTEuNDY4IDMuMjk4LTEuNTg5IDQuOTE3LTMuMzgg NS44NTMtNi40NDYuNzc0LTIuNTg1Ljg1NS02LjAxNC4yMS05LjIyMi0uNzMz LTMuNjItMi42NTQtNy41NjMtNS4xNjgtMTAuNjEtLjYwNC0uNzQ0LS44MTUt MS4wOTYtMS4zMjgtMi4zMTMtMS40MDgtMy4zMTktMy4zNDktNy00Ljk2OC05 LjQzNC0zLjk2Mi01Ljk2My04LjYxOC05LjE2MS0xNC41NDItMTAuMDA2LS45 MzUtLjEzLTMuNTMtLjE4MS00LjM2NC0uMDlaIi8+PC9nPjwvc3ZnPgo=")
    background-repeat: no-repeat
    background-position: top
.loyaltySymbolGroup
  .loyaltyCost, .loyaltyCostUp, .loyaltyCostDown
    z-index: 4
    position: relative
    display: inline-flex
    width: 4rem
    justify-content: center
    font-size: .9em
    &:before
      content: ""
      position: absolute
      z-index: -1
      font-size: 2em
      color: #f8f8f8
      text-shadow: 2px 2px 0 #222, -2px -2px 0 #222, -2px 2px 0 #222, 2px -2px 0 #222, 0 2px 0 #222, 0 -2px 0 #222, 2px 0 0 #222, -2px 0 0 #222
      font-family: "Mana"
  .loyaltyCost:before
    content: ""
    top: -0.1rem
    font-size: 1.8em
  .loyaltyCostUp:before
    content: ""
    top: -0.15rem
  .loyaltyCostDown:before
    content: ""
    top: 0.05rem

.cardText, .cardType, .cardArtist, .cardPowerToughness
  font-family: "Plantin"

.cardTitle, .cardType, .cardArtist
  white-space: nowrap

.cardTombstoneWrapper
  position: absolute
  top: 10px
  left: 15px
  font-size: 35px
  color: #999
  *
    font-family: "MagicSymbols Old"

.cardTombstone
  color: #999
  position: relative
  z-index: 2

.cardTombstone:before, .cardTombstone:after, .cardTombstoneShadow:before, .cardTombstoneShadow:after
  content: 'Q'
  position: absolute
  left: 0

.cardTombstone:before
  text-shadow: 2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 1px -2px 0 #f8f8f8

.cardTombstoneShadow
  text-shadow: -2px 2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 1px -2px 0 #f8f8f8, 1px -1.5px 0 #f8f8f8, -2px 0 0 #f8f8f8, -1px 1px 0 #f8f8f8, -1px -2px 0 #f8f8f8, -2px 1px 0 #f8f8f8, -2px -1.5px 0 #f8f8f8

.cardTombstoneShadow
  position: absolute
  left: -3px
  z-index: 1
  color: #666

.dfc
  color: #222
  position: absolute
  font-size: 28px
  left: 10px
  top: 8px
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 2px 1px 0 #f8f8f8, -2px -1px 0 #f8f8f8, -2px 1px 0 #f8f8f8, 2px -1px 0 #f8f8f8, 1px 2px 0 #f8f8f8, -1px -2px 0 #f8f8f8, -1px 2px 0 #f8f8f8, 1px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8
.dfcBack
  top: 12px

.cardTitle
  position: absolute
  top: 12px
  left: 44px
  font-size: 41px
  line-height: 44px
  letter-spacing: 0.039em
  color: #f8f8f8
  font-family: 'Magic'

.cardManaCost
  position: absolute
  top: 2px
  right: 20px
  font-size: 46px

.cardImage
  top: 61px
  left: 48px
  position: absolute
  z-index: -1
  width: 575px
  height: 465px
  background-repeat: no-repeat
  background-size: cover
  background-position: center center
.cardImageCountWrapper
  position: absolute
  top: 5%
  bottom: 50%
  left: 5%
  right: 5%
  opacity: 0
  &:hover
    opacity: 1
    cursor: pointer
  .cardImageCount
    position: absolute
    bottom: 0
    right: 0
    left: 0
    text-align: center
    font-size: 60px
    color: white
    text-shadow: 2px 2px 2px #000
  .advanceImage, .reduceImage
    position: absolute
    bottom: 0
    right: 0
    left: 0
    top: 0
    &:after
      position: absolute
      top: 50%
      transform: translateY(-50%)
      font-size: 100px
      color: white
      text-shadow: 2px 2px 2px #000
      width: 100%
      text-align: center
  .advanceImage
    &:after
      content: '>'
    left: 50%
  .reduceImage
    &:after
      content: '<'
    right: 50%

.cardType
  position: absolute
  top: 535px
  left: 42px
  font-size: 33.5px
  letter-spacing: 0.35px
  line-height: 45px
  color: #f8f8f8

.cardExpansionWrapper
  position: absolute
  top: 558px
  right: 68px
  font-size: 40px

.cardExpansion
  position: absolute
  right: 50%
  top: 50%
  transform: translate(50%, -50%) !important

.stroke
  &.ss-wth, &.ss-all, &.ss-por, &.ss-pls, &.ss-som, &.ss-rtr, &.ss-bbd, &.ss-mh2, &.ss-clb, &.ss-mom, &.ss-m10, &.ss-m11, &.ss-m12, &.ss-m13, &.ss-m14, &.ss-m15, &.ss-m19, &.ss-m20, &.ss-m21
    &:after
      content: ''
      position: absolute
      z-index: -1
      width: 70%
      height: 45%
      background: #f8f8f8
      top: 50%
      right: 50%
      border-radius: 0.2em
      transform: translate(50%, -50%)
  &.ss-all:after
    height: 20%
    width: 30%
    top: 30px
    left: 30px
  &.ss-som:after
    height: 71%
    width: 83%
    top: 19px
  &.ss-por:after
    height: 19%
    width: 76%
    top: 28px
  &.ss-bbd:after
    height: 34%
    width: 48%
    top: 10px

.fill
  &.ss-afr, &.ss-vis, &.ss-usg, &.ss-zen, &.ss-som, &.ss-mbs, &.ss-bbd, &.ss-lci, &.ss-dmu, &.ss-mid, &.ss-m10, &.ss-m11, &.ss-m12, &.ss-m13, &.ss-m14, &.ss-m15, &.ss-m19, &.ss-m20, &.ss-m21
    &:after
      content: ''
      position: absolute
      z-index: -1
      width: 90%
      height: 45%
      background: #222
      top: 50%
      right: 50%
      border-radius: 0.2em
      transform: translate(50%, -50%)
  &.ss-afr:after
    height: 67%
    width: 79%
    top: 24px
  &.ss-dmu:after
    height: 55%
    width: 60%
    top: 25px
  &.ss-vis:after
    height: 55%
    width: 60%
    top: 13px
  &.ss-usg:after
    height: 19%
    width: 76%
    top: 28px
  &.ss-som:after
    height: 71%
    width: 83%
    top: 19px
  &.ss-bbd:after
    height: 65%
    width: 66%
    top: 8px
    left: 4px
    transform: rotate(45deg)
  &.ss-lci:after
    height: 22%
    width: 57%
    top: 25px
.stroke.ss-mid:after
  content: ''
  position: absolute
  z-index: -1
  width: 90%
  height: 45%
  background: #222
  top: 50%
  right: 50%
  border-radius: 0.2em
  transform: translate(50%, -50%)

.cardExpansion
  &.ss-lea
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-leb
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-2ed
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-arn
    font-size: 2em
  &.ss-atq
    font-size: 1.25em
  &.ss-3ed
    font-size: 1em
  &.ss-fbb
    font-size: 1em
  &.ss-leg
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-sum
    font-size: 1em
  &.ss-drk
    font-size: 1.1em
    transform: translate(50%, -60%) !important
  &.ss-fem
    font-size: 1.15em
    transform: translate(50%, -55%) !important
  &.ss-4bb
    font-size: 1em
  &.ss-4ed
    font-size: 1em
  &.ss-ice
    font-size: 1em
  &.ss-hml
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-all
    font-size: 1.75em
    transform: translate(50%, -53%) !important
  &.ss-mir
    font-size: 1em
    transform: translate(50%, -55%) !important
  &.ss-vis
    font-size: .95em
  &.ss-5ed
    font-size: 1em
  &.ss-wth
    font-size: 1.4em
  &.ss-tmp
    font-size: 1.1em
  &.ss-sth
    font-size: 1em
  &.ss-exo
    font-size: 1.9em
  &.ss-usg
    font-size: 1.4em
  &.ss-ulg
    font-size: 1.5em
  &.ss-6ed
    font-size: 1em
  &.ss-uds
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-mmq
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-nem
    font-size: 1.9em
    transform: translate(50%, -53%) !important
  &.ss-pcy
    font-size: 1.15em
    transform: translate(50%, -53%) !important
  &.ss-inv
    font-size: 1.1em
  &.ss-pls
    font-size: 1.4em
  &.ss-7ed
    font-size: 1em
  &.ss-apc
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-ody
    font-size: 1.05em
    transform: translate(50%, -53%) !important
  &.ss-tor
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-jud
    font-size: 1.3em
    transform: translate(50%, -57%) !important
  &.ss-ons
    font-size: 1.3em
    transform: translate(50%, -55%) !important
  &.ss-lgn
    font-size: 2em
  &.ss-scg
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-8ed
    font-size: 1em
  &.ss-mrd
    font-size: 1.7em
  &.ss-dst
    font-size: 1.08em
    transform: translate(50%, -55%) !important
  &.ss-5dn
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-chk
    font-size: 1.3em
    transform: translate(50%, -53%) !important
  &.ss-bok
    font-size: 1.2em
    transform: translate(50%, -55%) !important
  &.ss-sok
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-9ed
    font-size: 1em
  &.ss-rav
    font-size: 1.05em
    transform: translate(50%, -55%) !important
  &.ss-gpt
    font-size: 1.15em
    transform: translate(50%, -55%) !important
  &.ss-dis
    font-size: 1.2em
  &.ss-csp
    font-size: 1.05em
  &.ss-tsp
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-tsb
    font-size: 1em
  &.ss-plc
    font-size: 1.3em
    transform: translate(50%, -53%) !important
  &.ss-fut
    font-size: 1.3em
    transform: translate(50%, -53%) !important
  &.ss-10e
    font-size: 1em
  &.ss-lrw
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-mor
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-shm
    font-size: 1.3em
    transform: translate(50%, -53%) !important
  &.ss-eve
    font-size: 1.2em
    transform: translate(50%, -53%) !important
  &.ss-ala
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-con
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-arb
    font-size: 1.1em
  &.ss-zen
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-wwk
    font-size: 1.1em
  &.ss-roe
    font-size: 1.1em
  &.ss-som
    font-size: 1em
  &.ss-mbs
    font-size: 1em
    transform: translate(50%, -53%) !important
  &.ss-nph
    font-size: 1em
  &.ss-isd
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-dka
    font-size: 1.2em
  &.ss-avr
    font-size: 1.1em
  &.ss-rtr
    font-size: 1em
  &.ss-gtc
    font-size: 1.35em
    transform: translate(50%, -53%) !important
  &.ss-dgm
    font-size: 1.25em
    transform: translate(50%, -53%) !important
  &.ss-ths
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-bng
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-jou
    font-size: 1.1em
  &.ss-cns
    font-size: 1em
  &.ss-ktk
    font-size: 1.2em
    transform: translate(50%, -53%) !important
  &.ss-frf
    font-size: 1.2em
    transform: translate(50%, -53%) !important
  &.ss-dtk
    font-size: 1.15em
    transform: translate(50%, -53%) !important
  &.ss-ori
    font-size: 1.2em
  &.ss-bfz
    font-size: 1.1em
  &.ss-ogw
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-soi
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-emn
    font-size: 1.4em
    transform: translate(50%, -55%) !important
  &.ss-cn2
    font-size: 1em
    transform: translate(50%, -53%) !important
  &.ss-kld
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-aer
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-akh
    font-size: 1em
  &.ss-hou
    font-size: 1em
  &.ss-xln
    font-size: 1.1em
  &.ss-rix
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-dom
    font-size: 1em
    transform: translate(50%, -53%) !important
  &.ss-bbd
    font-size: .9em
  &.ss-grn
    font-size: 1.4em
  &.ss-rna
    font-size: 1.4em
  &.ss-war
    font-size: 1.05em
    transform: translate(50%, -55%) !important
  &.ss-mh1
    font-size: 1.3em
    transform: translate(50%, -53%) !important
  &.ss-eld
    font-size: 1em
  &.ss-thb
    font-size: 1em
  &.ss-iko
    font-size: 1.1em
  &.ss-jmp
    font-size: 1em
  &.ss-znr
    font-size: .9em
  &.ss-cmr
    font-size: 1em
  &.ss-khm
    font-size: 1em
  &.ss-stx
    font-size: 1.2em
  &.ss-h1r
    font-size: 1em
  &.ss-mh2
    font-size: 1.35em
    transform: translate(50%, -53%) !important
  &.ss-afr
    font-size: 1.2em
  &.ss-mid
    font-size: 1.2em
  &.ss-vow
    font-size: 1.3em
  &.ss-dbl
    font-size: 1em
  &.ss-neo
    font-size: 1.6em
    transform: translate(50%, -53%) !important
  &.ss-snc
    font-size: 1.4em
  &.ss-clb
    font-size: 1em
  &.ss-dmu
    font-size: 1em
  &.ss-j22
    font-size: 1.25em
  &.ss-one
    font-size: .9em
  &.ss-mom
    font-size: 1.2em
  &.ss-mat
    font-size: 1em
  &.ss-ltr
    font-size: 1.3em
  &.ss-woe
    font-size: 1.6em
    transform: translate(50%, -53%) !important
  &.ss-lci
    font-size: 1.3em
  &.ss-clu
    font-size: 1em
  &.ss-mkm
    font-size: 1em
  &.ss-otj
    font-size: 1em
  &.ss-blb
    font-size: 1.1em
  &.ss-dsk
    font-size: 1.5em
  &.ss-fdn
    font-size: 1.1em
  &.ss-dft
    font-size: 1.2em
  &.ss-tdm
    font-size: 1em
  &.ss-m10, &.ss-m11, &.ss-m12, &.ss-m13, &.ss-m14, &.ss-m15
    font-size: 1.5em
  &.ss-m19, &.ss-m20, &.ss-m21
    font-size: 1.6em
  &.ss-cmd
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-c13
    font-size: 1.1em
    transform: translate(50%, -53%) !important
  &.ss-c14
    font-size: 1.25em
  &.ss-c15
    font-size: 1.15em
  &.ss-c16
    font-size: 1.05em
  &.ss-c17
    font-size: 1.05em
  &.ss-c18
    font-size: .9em
  &.ss-c19
    font-size: .9em
    transform: translate(50%, -53%) !important
  &.ss-c20
    font-size: 1em
  &.ss-c21
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-afc
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-c22
    font-size: 1.1em
    transform: translate(50%, -55%) !important
  &.ss-clb
    font-size: 1em
  &.ss-dmc
    font-size: 1em
  &.ss-40k
    font-size: 1.9em
    transform: translate(50%, -55%) !important
  &.ss-mh3
    font-size: 1.35em
  &.ss-cmm
    font-size: 1em
  &.ss-wot
    font-size: 1em
  &.ss-rrc
    font-size: 1em
  &.ss-c23
    font-size: 1em
  &.ss-pc2
    font-size: 1.3em
  &.ss-cma
    font-size: 1em
  &.ss-cm2
    font-size: 1em
  &.ss-pca
    font-size: 1em
  &.ss-j22
    font-size: 1.25em
  &.ss-jmp
    font-size: 1em
  &.ss-moc
    font-size: 1.2em
  &:before
    background-size: cover
    -webkit-background-clip: text
    background-clip: text
    -webkit-text-fill-color: transparent
    paint-order: stroke fill

.cardExpansion.fill, .cardTombstone:after, .cardTombstoneShadow:after
  text-shadow: 1px 1px 0 #222, -1px -1px 0 #222, -1px 1px 0 #222, 1px -1px 0 #222, 1px 0.75px 0 #222, -1px -0.75px 0 #222, -1px 0.75px 0 #222, 1px -0.75px 0 #222, 0.75px 1px 0 #222, -0.75px -1px 0 #222, -0.75px 1px 0 #222, 0.75px -1px 0 #222, 0 1px 0 #222, 0 -1px 0 #222, 1px 0 0 #222, -1px 0 0 #222

.cardExpansion.stroke
  text-shadow: 3px 3px 1.5px #f8f8f8, -3px -3px 1.5px #f8f8f8, -3px 3px 1.5px #f8f8f8, 3px -3px 1.5px #f8f8f8, 0 3px 1.5px #f8f8f8, 0 -3px 1.5px #f8f8f8, 3px 0 1.5px #f8f8f8, -3px 0 1.5px #f8f8f8, 2px 3px 1.5px #f8f8f8, -2px -3px 1.5px #f8f8f8, -2px 3px 1.5px #f8f8f8, 2px -3px 1.5px #f8f8f8, 3px 2px 1.5px #f8f8f8, -3px -2px 1.5px #f8f8f8, -3px 2px 1.5px #f8f8f8, 3px -2px 1.5px #f8f8f8

.cardExpansion.common.stroke
  text-shadow: 1.75px 1.75px 1.5px #f8f8f8, -1.75px -1.75px 1.5px #f8f8f8, -1.75px 1.75px 1.5px #f8f8f8, 1.75px -1.75px 1.5px #f8f8f8, 0 1.75px 1.5px #f8f8f8, 0 -1.75px 1.5px #f8f8f8, 1.75px 0 1.5px #f8f8f8, -1.75px 0 1.5px #f8f8f8, 1px 1.75px 1.5px #f8f8f8, -1px -1.75px 1.5px #f8f8f8, -1px 1.75px 1.5px #f8f8f8, 1px -1.75px 1.5px #f8f8f8, 1.75px 1px 1.5px #f8f8f8, -1.75px -1px 1.5px #f8f8f8, -1.75px 1px 1.5px #f8f8f8, 1.75px -1px 1.5px #f8f8f8

.cardExpansion.common:before
  background-color: #222

.cardExpansion.uncommon:before
  background-image: radial-gradient(#f8f8f8 0%, #999 40%, #666 80%)

.cardExpansion.rare:before
  background-image: radial-gradient(#eda 0%, #984 100%)

.cardExpansion.mythic:before
  background-image: radial-gradient(#e90 0%, #b32 100%)

.cardText
  position: absolute
  top: 592px
  left: 60px
  font-size: 40px
  line-height: 1.075em
  color: #000
  width: 555px
  max-height: 270px
  /* overflow-x: scroll */

.reminderText
  font-size: .95em

.reminderTextLong:not(.basicLands)
  display: none

.cardText
  &.adventurerText
    left: 355px
    width: 255px
  p
    margin: 0.4em 0

.cardText.planeswalkerText p.loyaltyAbility
  position: relative
  padding-left: 25px

.textLoyalty, .textLoyaltyUp, .textLoyaltyDown
  position: absolute
  right: calc(100% - 8px)
  z-index: 1
  color: #f8f8f8
  font-size: 28px
  white-space: nowrap
  width: 50px
  text-align: center

.textLoyaltyBig
  width: 65px

.textLoyalty:after, .textLoyaltyUp:after, .textLoyaltyDown:after
  color: #000
  content: ":"
  position: absolute
  right: -10px
  top: -3px

.textLoyalty:before, .textLoyaltyUp:before, .textLoyaltyDown:before
  content: ""
  position: absolute
  z-index: -1
  font-size: 1.8em
  left: 0
  color:#222
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8
  font-family: "Mana"

.textLoyalty:before
  content: ""
  top: -0.1rem

.textLoyaltyUp:before
  content: ""
  top: -0.15rem

.textLoyaltyDown:before
  content: ""
  top: 0.05rem

.textLoyaltyBig:before
  transform: scaleX(1.3)
  left: 10px

.sagaChapter
  display: flex
  margin: 0.3em 0 0 -60px

.chapterNumbers
  flex: 0 0 80px
  margin: -5px 0 0px

.chapterNumber
  text-align: center
  position: relative
  font-size: 25px
  line-height: 46px
  color: #eda
  z-index: 2
  margin-bottom: -10px
  &:after
    content: "⬢"
    position: absolute
    left: 50%
    top: 42%
    font-size: 65px
    color: #222
    z-index: -1
    transform: translate(-50%, -50%) scaleX(1.2)
    text-shadow: 1px 1px 0 #eda, -1px 1px 0 #eda,1px -1px 0 #eda,-1px -1px 0 #eda

.levelAbility
  display: flex
  min-height: 90px
  margin-left: -45px

.levelAbility > *
  align-self: center

.levelReminder
  font-size: 29px
  line-height: 35px
  flex: auto
  margin-left: 45px

.levelSpread
  flex: 0 0 75px
  color: #f8f8f8
  position: relative
  text-align: center
  align-self: center
  font-size: 40px
  z-index: 99

.levelSpread:before
  content: "Level"
  color: #f8f8f8
  position: absolute
  top: -30px
  right: 50%
  transform: translate(50%, 0)
  z-index: 99
  font-size: 20px

.levelSpread:after
  content: "\2617"
  position: absolute
  top: -15px
  transform: rotate(90deg)
  color: #222
  left: -20px
  z-index: -1
  font-size: 90px
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8

.levelCost
  flex: 0 0 75px
  position: relative
  text-align: center
  align-self: flex-start
  font-size: 24px
  z-index: 99

.levelCost:before
  white-space: nowrap
  font-size: 20px
  color: #f8f8f8
  position: absolute
  top: 30px
  right: 50%
  transform: translate(50%, 0)
  z-index: 99

.levelCost.level2:before
  content: "Level 2"

.levelCost.level3:before
  content: "Level 3"

.levelCost:after
  content: "\2617"
  position: absolute
  top: 15px
  transform: rotate(90deg)
  color: #222
  left: -24px
  z-index: -1
  font-size: 94px
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8

.levelText
  flex: 1 1 auto
  padding: 10px 10px 10px 20px

.levelPT
  flex: 0 0 50px
  font-size: 45px
  letter-spacing: 1px
  color: #f8f8f8
  align-self: center

.smol
  font-size: .7em
  position: relative
  top: -8px

hr
  border: 0
  margin-block-end: 0
  margin-block-start: 0
  padding: .3em 0
  position: relative
  overflow: hidden
  min-height: .3rem

hr:before
  content: ""
  width: 100%
  position: absolute
  border: 0
  height: 2px
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))

.flavorText
  font-size: .95em

.flavorAttribution
  text-align: right

.cardPowerToughness, .cardDefense
  position: absolute
  bottom: 12px
  right: 25px
  font-size: 45px
  letter-spacing: 1px
  color: #f8f8f8

.cardDefense
  right: 40px
  bottom: 30px
  z-index: 2

.cardDefense:after
  content: "✦"
  position: absolute
  top: 50%
  right: 50%
  transform: translate(53%, -53%) rotate(-135deg)
  font-size: 125px
  z-index: -1
  color: #000
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8

.cardLoyalty
  z-index: 1
  right: 20px
  bottom: 20px
  width: 100px
  text-align: center

.cardLoyalty:after
  content: ""
  font-family: "Mana"
  position: absolute
  bottom: -20px
  right: 0
  font-size: 100px
  z-index: -1
  color: #000
  text-shadow: 2px 2px 0 #f8f8f8, -2px -2px 0 #f8f8f8, -2px 2px 0 #f8f8f8, 2px -2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -2px 0 #f8f8f8, 2px 0 0 #f8f8f8, -2px 0 0 #f8f8f8

.cardArtist
  position: absolute
  bottom: 36px
  left: 50%
  transform: translate(-50%, 0)
  font-size: 27px
  color: #f8f8f8


.splitCard
  position: absolute
  display: inline-block
  background-color: #222
  transform: rotate(-90deg)
  margin: -109px 109px
.splitCard.face0
  bottom: 0
.splitCardTemplate, .splitCardTemplate2
  width: 460px
.splitCardTemplate2
  position: absolute
  left: 0
  top: 0
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)
  mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)
.splitCardTitle, .splitCardType, .splitCardArtist, .splitCardPowerToughness
  text-shadow: 2px 2px 2px #000
.splitCardManaCost, .manaSymbolGroup
  text-shadow: none
  font-family: "MagicSymbols"
  font-style: normal
.splitCardText, .splitCardManaCost, .splitCardType, .splitCardArtist, .splitCardPowerToughness
  font-family: "Plantin"
.splitCardTitle, .splitCardType, .splitCardArtist
  white-space: nowrap

.splitCardTombstoneWrapper
  position: absolute
  top: 6px
  left: 12px
  font-size: 32px
  color: #999
  *
    font-family: "MagicSymbols Old"
.splitCardTombstone
  color: #999
  position: relative
  z-index: 2
.splitCardTombstone:before, .splitCardTombstone:after, .splitCardTombstoneShadow:before, .splitCardTombstoneShadow:after
  content: 'Q'
  position: absolute
  left: 0
.splitCardTombstone:before
  text-shadow: 2px 2px 0 #f8f8f8, 2px -1px 0 #f8f8f8
.splitCardTombstoneShadow
  text-shadow: -2px 2px 0 #f8f8f8, 0 2px 0 #f8f8f8, 0 -1.5px 0 #f8f8f8, 1px -1.5px 0 #f8f8f8, 1px -1.5px 0 #f8f8f8, -2px 0 0 #f8f8f8, -1px 1px 0 #f8f8f8, -1px -1px 0 #f8f8f8, -2px 1px 0 #f8f8f8, -2px -1px 0 #f8f8f8
.splitCardTombstoneShadow
  position: absolute
  left: -3px
  z-index: 1
  color: #666
.splitCardTitle
  position: absolute
  top: 5px
  left: 36px
  font-size: 42px
  color: #f8f8f8
  font-family: "Magic"
  letter-spacing: 0.07em
.splitCardManaCost
  position: absolute
  top: 1px
  right: 14px
  font-size: 44px
.splitCardImageWrapper
  top: 58px
  left: 38px
  width: 383px
  height: 257px
  position: absolute
  overflow: hidden
.splitCardImage
  height: 270px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.splitCardImage.face0
  background-position: left
.splitCardImage.face1
  background-position: right
.splitCardType
  position: absolute
  top: 327px
  left: 32px
  font-size: 34px
  line-height: 37px
  color: #f8f8f8
.splitCardExpansionWrapper
  position: absolute
  top: 347px
  right: 52px
  font-size: 38px
.splitCardText
  position: absolute
  top: 375px
  left: 50px
  font-size: 38px
  line-height: 1.075em
  color: #222
  width: 360px
  max-height: 215px
.splitCardText p
  margin: 0.25em 0
.splitCardArtist
  position: absolute
  bottom: 35px
  left: 50%
  transform: translate(-50%, 0)
  font-size: 26px
  color: #f8f8f8

.adventure
  position: absolute
  display: inline-block
  left: 35px
  top: 580px
  width: 280px
  height: 305px
.adventureTemplate
  box-shadow: 2px 2px 0 #222, -2px -2px 0 #222, 2px -2px 0 #222, -2px 2px 0 #222, 10px 10px 10px 5px #0006
.adventureTemplate, .adventureTemplate2
  width: 100%
  height: 100%
.adventureTemplate2
  position: absolute
  left: 0
  top: 0
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)
  mask-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0) 60%)
.adventureTitle, .adventureType, .adventureCopyright, .adventureArtist, .adventureDisclaimer, .adventurePowerToughness
  text-shadow: 2px 2px 2px #000
.adventureManaCost, .manaSymbolGroup
  text-shadow: none
  font-family: "MagicSymbols"
  font-style: normal
.adventureText, .adventureManaCost, .adventureType
  font-family: "Plantin"
.adventureTitle, .adventureType
  white-space: nowrap
.adventureTitle
  position: absolute
  top:7px
  left: 10px
  font-size: 30px
  line-height: 40px
  color: #f8f8f8
  font-family: "Magic"
  letter-spacing: 0.07em
.adventureManaCost
  position: absolute
  top: 4px
  right: 14px
  font-size: 33px
.adventureType
  position: absolute
  top: 57px
  left: 10px
  font-size: 26px
  color: #f8f8f8
.adventureText
  position: absolute
  top: 100px
  left: 15px
  font-size: 38px
  line-height: 1.075em
  color: #222
  width: 245px
  max-height: 185px
.adventureText i
  display: none
.smol
  font-size: .7em
  position: relative
  top: -8px
.adventureText p
  margin: 0.25em 0