<h1>Premodern M:tG card frames with Oracle text</h1>
<div class="home">
  <form>
    <textarea
      [formControl]="cardField"
      (keydown.control.enter)="fetchCards()"
      (keydown.meta.enter)="fetchCards()"
      name="cardNames"
      #textarea
      placeholder="Enter card names, one per line"
    ></textarea>
    <button 
      type="button"
      [disabled]="cardsTooMany"
      (click)="fetchCards()">Submit
    </button>
  </form>
  <div *ngIf="cardsTooMany" class="error">Max 100 cards at a time, please.</div>
  <ng-container *ngIf="loading || Object.keys(cardData).length">
    <div class="headerContainer">
      <h3 [ngClass]="{'loading': loading}">Cards</h3>
      <form *ngIf="!loading" [formGroup]="cardFormatting">
        <span *ngIf="cardFormatting.get('borderColor')?.value !== 'none'"><input type="checkbox" formControlName="mpcBleed" id="mpcBleed" /> <label for="mpcBleed">MPC Bleed</label></span>
        <span *ngIf="cardFormatting.get('borderColor')?.value !== 'none'"><input type="checkbox" formControlName="roundedCorners" id="roundedCorners" /> <label for="roundedCorners">Rounded Corners</label></span>
        <span><input type="checkbox" formControlName="highRes" id="highRes" /> <label for="highRes">High Res</label></span>
        <span><input type="checkbox" formControlName="modernFlourish" id="modernFlourish" /> <label for="modernFlourish">Modern Flourish</label></span>
        <span>
          <select formControlName="borderColor" id="borderColor">
            <option selected value="111">Black</option>
            <option value="fff">White</option>
            <option value="a84">Gold</option>
            <option value="999">Silver</option>
            <option value="none">None</option>
          </select> <label for="borderColor">Border</label>
        </span>
      </form>
    </div>
    <div 
      *ngIf="cardData.length === 0 && !loading" 
      class="error"
    >No cards found</div>
    <div 
      *ngIf="missingCards.length > 0 && !loading" 
      class="error"
    >
      Missing cards: {{ missingCards.join(', ') }}
    </div>
    <div class="cards">
      <ng-container *ngFor="let card of Object.values(cardData)">
        <ng-container
          *ngIf="card.name && !['transform','modal_dfc','flip'].includes(card.layout)" 
        >
          <app-card
            [card]="card"
            [cardFormattingOptions]="cardFormattingOptions"
          ></app-card>
          <app-card
            *ngIf="card.type_line.includes('Planeswalker')"
            [card]="card"
            [cardFormattingOptions]="cardFormattingOptions"
            [class.overlay]="true"
          ></app-card>
        </ng-container>
        <ng-container
          *ngIf="['transform','modal_dfc','flip'].includes(card.layout)"
        >
          <ng-container *ngFor="let face of card.card_faces; let index = index">
            <app-card
              [card]="card"
              [cardFormattingOptions]="cardFormattingOptions"
              [face]="index"
            ></app-card>
            <app-card
              *ngIf="card.card_faces[index].type_line.includes('Planeswalker')"
              [card]="card"
              [cardFormattingOptions]="cardFormattingOptions"
              [face]="index"
              [class.overlay]="true"
            ></app-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <footer>
    <div class="wrapper">
      <ul>
        <li>Ctrl+Enter to fetch cards</li>
        <li>Downloading cards is a challenge; you’ll need to screenshot. The chrome plugin <a target="_blank" href="https://chromewebstore.google.com/detail/gofullpage-full-page-scre/fdpohaocaechififmbbbbbknoalclacl">GoFullPage</a> seems to work well.</li>
        <li>Sometimes the art is poor quality, or is not centered well (especially for special frames like planeswalkers, sagas, classes, talents, etc.) If you have Photoshop or a program that can edit *.psd files, you can:&hellip;
          <ul>
            <li>&hellip;use this <a href="assets/files/Planeswalker_Frame_Jig.psd">photoshop file</a> to replace the art <i>on planeswalker cards</i>. It supports larger art with transparency under the text box (uses the gray-background version provided above)</li>
            <li>&hellip;use this <a href="assets/files/Art_Replacement_Jig.psd">photoshop file</a> to replace art on <i>regular-template cards</i>.</li>
          </ul>
          <b>NOTE:</b> If you use non-official artwork, the artist credit won’t match, so probly don’t do that. 😊
        </li>
        <li><a target="_blank" href="https://github.com/TheGameKnave/premodernoracle/issues/3">Here’s a method</a> to self-assemble home-printable sheets. <i>(not for the faint of heart)</i></li>
      </ul>
      <div class="float-left">
        <p>Site by <a target="_blank" href="http://gameknave.com">GameKnave Design</a></p>
      </div>
      <div class="float-right" style="text-align: right;">
        <p>
            All set images, artwork, card templates, and game text © <a target="_blank" href="http://magicthegathering.com">Wizards of the Coast</a> or credited artist<br>
            <a target="_blank" href="https://keyrune.andrewgioia.com/">The Keyrune font</a> is licensed under the the <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a><br>
            <a target="_blank" href="https://github.com/TheGameKnave/premodernoracle">PremodernOracle CSS, LESS, Sass, and other project files</a> are licensed under the <a href="https://opensource.org/licenses/GPL-3.0">GPL 3.0 License</a><br>
        </p>
      </div>
      <div class="clear"></div>
    </div>
  </footer>
</div>