<div
  class="cardBorder"
  [style]="{ backgroundColor: '#' + cardFormattingOptions.borderColor }"
  [ngClass]="{
    'rounded': cardFormattingOptions.borderColor !== 'none' && cardFormattingOptions.roundedCorners,
    'noborder': cardFormattingOptions.borderColor === 'none',
    'high-res': cardFormattingOptions.highRes,
    'mpc': cardFormattingOptions.borderColor !== 'none' && cardFormattingOptions.mpcBleed
  }"
>
  <img
    *ngIf="originalCard"
    [src]="face !== undefined ? card.card_faces[face].image_uris.large : card.image_uris.large"
    class="originalCard"
  />
  <div [class]="'card ' + (originalCard ? 'originalPresent' : '')">
    <ng-container
      *ngIf="['normal','mutate','prototype','meld','class','case','saga','leveler','adventure','flip'].includes(card.layout) || (['transform','modal_dfc'].includes(card.layout) && face !== undefined)"
    >
      <img
        [src]="'assets/images/card_templates/' + cardTemplate(card,face,(card.layout === 'adventure' ? 'adventurer' : 'card')) + '.jpg'"
        class="cardTemplate"
        alt="Card Template"
      >
      <img
        *ngIf="colorID(card,face).length === 2 && cardTemplate(card,face,(card.layout === 'adventure' ? 'adventurer' : 'card')).indexOf('m') !== 0"
        [src]="'assets/images/card_templates/' + cardTemplate2(card,face,(card.layout === 'adventure' ? 'adventurer' : 'card')) + '.jpg'"
        class="cardTemplate2"
        alt="Card Template"
      >
      <div
        class="cardTombstoneWrapper"
        *ngIf="tombstoneFrame(card,face) && !face"
      >
        <span class="cardTombstone" >Q</span>
        <span class="cardTombstoneShadow" >Q</span>
      </div>
      <span 
        *ngIf="face === 0 && !tombstoneFrame(card,face)" 
        class="dfc dfcFront">▲</span>
      <span 
        *ngIf="face === 1" 
        class="dfc dfcBack">▼</span>
      <div
        #cardTitleElement
        class="cardTitle"
      >
        {{ face !== undefined ? card.card_faces[face].name : (card.layout === 'adventure' ? card.card_faces[0].name : card.name) }}
      </div>
      <div
        #cardManaCostElement
        class="cardManaCost"
        [innerHtml]="parseSymbols(face !== undefined ? card.card_faces[face].mana_cost : (card.layout === 'adventure' ? card.card_faces[0].mana_cost : card.mana_cost))"
      ></div>
      <div 
        [style]="{ backgroundImage: 'url(' + cardImage + ')' }" 
        class="cardImage"
        [ngClass]="{clickable: card.arts[face || 0].length > 1}"
      >
        <div
          *ngIf="card.arts[face || 0].length > 1"
          class="cardImageCountWrapper"
        >
          <div
            class="cardImageCount"
          >
            {{ (imageIndex || 0) + 1 }} / {{ card.arts[face || 0].length }}
          </div>
          <div
            class="advanceImage"
            (click)="advanceImage()"
          ></div>
          <div
            class="reduceImage"
            (click)="advanceImage(-1)"
          ></div>
        </div>
      </div>
      <div
        #cardTypeElement
        class="cardType"
      >
        {{ face !== undefined ? card.card_faces[face].type_line : (card.layout === 'adventure' ? card.card_faces[0].type_line : card.type_line) }}
      </div>
      <div class="cardExpansionWrapper">
        <i [class]="'cardExpansion ' + card.rarity + ' stroke ss ss-' + card.set"></i>
        <i
          *ngIf="card.rarity !== 'common'" 
          [class]="'cardExpansion fill ss ss-' + card.set"
        ></i>
        <i
          #cardExpansionElement
          [class]="'cardExpansion ' + card.rarity + ' ss ss-' + card.set"
        ></i>
      </div>
      <app-adventure
        *ngIf="card.layout === 'adventure'"
        [card]="card"
      ></app-adventure>
      <div 
        #cardTextElement
        [class]="'cardText ' + (((face !== undefined && card.type_line.includes('Planeswalker')) || card.type_line.includes('Planeswalker')) ? 'planeswalkerText ' : '') + (card.layout === 'adventure' ? 'adventurerText ' : '')"
        [innerHtml]="findSymbols(formatText(card,face,face !== undefined ? card.card_faces[face].oracle_text : (card.layout === 'adventure' ? card.card_faces[0].oracle_text : card.oracle_text), face !== undefined ? card.card_faces[face].flavor_text : (card.layout === 'adventure' ? card.card_faces[0].flavor_text : card.flavor_text)))"
      ></div>
      <div
        #cardArtistElement
        class="cardArtist"
      ><span class="magicSymbol">L</span>&nbsp;{{ imageArtist || 'Unknown' }}</div>
      <div
        *ngIf="(face !== undefined ? (card.card_faces[face].loyalty || card.card_faces[face].power || card.card_faces[face].toughness) : (card.layout === 'adventure' ? (card.card_faces[0].power || card.card_faces[0].toughness) : (card.power || card.toughness || card.loyalty))) && card.layout !== 'leveler'"
        #cardPowerToughnessElement
        [class]="'cardPowerToughness ' + (((face !== undefined && card.card_faces[face].loyalty) || card.loyalty) ? 'cardLoyalty' : '')" 
        [innerHtml]="(face !== undefined ? card.card_faces[face].loyalty : card.loyalty) || formatPT((face !== undefined ? card.card_faces[face].power : (card.layout === 'adventure' ? card.card_faces[0].power : card.power)) + '/' + (face !== undefined ? card.card_faces[face].toughness : (card.layout === 'adventure' ? card.card_faces[0].toughness : card.toughness)))"
      ></div>
      <div
        *ngIf="face !== undefined ? (card.card_faces[face].defense) : (card.defense)"
        #cardPowerToughnessElement
        class="cardDefense"
      >{{ face !== undefined ? card.card_faces[face].defense : card.defense }}</div>
    </ng-container>
    <ng-container *ngIf="card.layout === 'split'">
      <app-split-card
        [card]="card"
        [face]="0"
      ></app-split-card>
      <app-split-card
        [card]="card"
        [face]="1"
      ></app-split-card>
    </ng-container>
  </div>
</div>